@import "~bootstrap/scss/bootstrap";

body {
    background-color: blueviolet;
    background-image: url(https://c8.alamy.com/compit/f34aar/display-di-sfondo-creato-da-copertine-di-marvel-comics-dotate-di-fumetti-marvel-super-eroi-f34aar.jpg);
    height:700px;
}


